body {
    width: 1200px;
    margin: 0px auto;
    font-family: 'Segoe UI';
    margin-top: 40px;
}


.gameSettings {
    float: left;
    width: 50%;
}

.canvas {
    float: left;
    width: 50%;
}

.startButton {
    height: 50px;
    width: 150px;
}

.gameOver{
    font-size:40px;
}

.score-container{
    margin-top:20px;
    font-size:30px;
}