body {
    width: 1200px;
    margin: 0px auto;
    font-family: 'Segoe UI';
    margin-top: 40px;
}


.gameSettings {
    float: left;
    width: 50%;
}

.canvas {
    float: left;
    width: 50%;
}

.startButton {
    height: 50px;
    width: 150px;
}

.gameOver{
    font-size:40px;
    color:#cc2f2f;
}

.score-container{
    margin-top:20px;
    font-size:30px;
}

.historyLink
{
    padding:5px;
}
.historyFinePrint{
    font-size:12px;
    font-weight:normal;
}
.historyHeader{
    margin-bottom:0px;
}
.historyLinkHeaderContainer
{
    padding-bottom:15px;
}